.main {
    height: 87vh;
}

.container-contacts {
    padding-top: 40px;
    margin: auto;
    border-radius: 5px;
    max-width: 560px;
    height: 600px;

}

.container-contact {
    border: 1px solid black ;
    border-radius: 5px;
    margin: 10px;
    background: whitesmoke;
}

.number {
    border-bottom: 1px solid black;
    width: 180px;
    margin: 10px;
    height: 30px;
    display: inline-block;
}

.phone {
    border-bottom: 1px solid black;
    width: 180px;
    margin: 10px;
    height: 30px;
    display: inline-block;
}

.icons {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.edit {
    padding-right: 10px;
    cursor: pointer;
}

.edit:hover {
    color: grey;
}

.edit:active {
    color: thistle;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: red;
}

.delete:active {
    color: darkred;
}